
@import 'font.css';
@import 'recipe-list.css';
@import 'buttons.css';

* , *::before , *::after{
  font-family: Gotham Rounded , sans-serif;
  margin: 0px;
  padding: 0px;
}

/* It wil add 25px to all the text present in the page */
html{
  font-size: 25px;
}